
#feature-section{

    border-top: 2px #000 !important;

    margin-top: 8%;
    padding: 5% 5%;
    position: relative;
    border-radius: 9px 9px 99px 99px;
    background: #ffecee;
    transition: all 1s;
}

@media (max-width: 948px) {
    #feature-section{
        margin-top: 0% !important;
        border-radius: 0px !important;
    }
}

@media (max-width:1181px) {
    #feature-section{
        margin-top: 10%;
    }
}

.uk-first-column{
    padding-left: 0% !important;
}

.uk-card-feature{
    margin: auto 3% !important;
}

.uk-grid{
    margin-left: 0% !important;
}

.f-img{
    width: 60% !important;
    border-radius: 999px;
    border: 2px #000;
}

.feature-title{
    color: #ED65A9 !important;
    font-family: 'Righteous', cursive;

    margin-top: 10% !important;
}

.img-p{
    font-family: 'Supermercado One', cursive;
    color: rgb(253, 160, 160);
}

#feature-desc {
    margin-top: 2%;
}

#feature-desc h4{
    color: #ED65A9 !important;
    font-family: 'Balsamiq Sans', cursive;
}

#feature-desc p{
    font-family: 'Supermercado One', cursive;
    color: rgb(253, 160, 160);
}